<div id="data">
    <div id="taskbutton" class="list new">
        <h3><span>See tasks</span></h3>
    </div>
    <hr>
    <div id="shoppinglistbutton" class="list new">
        <h3><span>See shopping lists</span></h3>
    </div>
    <hr>
</div>


