* {
    margin: 0px;
    padding: 0px;
    font-family: verdana,sans-serif
}

#appContainer {
	width: 100%;
	height: 1000px;
	background-color: #fafafa;

}

.header {
	width: 100%;
	height: 100px;
	background-color: #333333;
	padding-top: 15px;
	margin: 0px;
}

.inpFilter {
	margin: auto;
	display: block;
	width: 80%;
	height: 20px;
	padding: 7px;
	color: gray;
	font-size: 14px;
	background-color: #fafafa;
}

.filter {
	display: block;
	margin: 10px 5px;
	text-align: center;
	float: left;
	color: #FFFFFF;
}

.filter:hover {
	cursor: pointer;
	color: #76BFC2;
}

section {
	width: 80%;
	height: 30px;
	display: block;
	margin: auto;
}

.InfoTask {
	width: 100%;
	height: 50px;
	margin: 0px;
	padding: 20px;
}


.InfoTask:hover {
	background: #76BFC2;
}

.details {
	padding: 15px;
}

.hidden {
	display: none;
}

.active {
	display: block;
}